*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
form {
  margin: 0;
  padding: 0;
  font-weight: normal;
  justify-content: space-between;
}

ol,
ul {
  list-style-type: none;
}

a {
  color: #333;
  text-decoration: none;
}

.active {
  color: #005bb3;
}
