.calculator {
  display: flex;
  width: 30%;
  flex-wrap: wrap;
}

li {
  flex: 1 0 25%;
}

.operations {
  flex: 1 1 100%;
  background-color: #858693;
  align-items: flex-end;
  color: #e5e5e8;
  font-size: 1.5em;
  padding: 0 3px;
  cursor: text;
}

.zero {
  flex: 1 1 50%;
}

.operator {
  background-color: #f5913e;
}
